* {
  margin: 0;
}

p {
  margin: 3rem;
}

.img1 {
  width: 100vw;
  height: 100vw;
  background: url(./assets/a.jpg) no-repeat center center;
  background-size: cover;
}

.img2 {
  width: 100vw;
  height: 100vw;
  background: url(./assets/b.jpg) no-repeat center center;
  background-size: cover;
}

.img3 {
  width: 100vw;
  height: 100vw;
  background: url(./assets/c.jpg) no-repeat center center;
  background-size: cover;
}

.img4 {
  width: 100vw;
  height: 100vw;
  background: url(./assets/a.jpg) no-repeat center center;
  background-size: cover;
}

.img1 .img2 .img3 .img4 {
  width: 100vw;
  height: 60vh;
  background-attachment: fixed;
}
